@model IEnumerable<EmployeeViewModel>

@{
    ViewData["Title"] = "Employee Details";
    var currentPage = (int)ViewBag.CurrentPage;
    var totalPages = (int)ViewBag.TotalPages;
}
<style>
    .custom-select {
        width: 250px;
        border-radius: 5px;
        padding: 8px;
        background-color: #f9f9f9; /* White background */
        border: 1px solid #ced4da; /* Border color */
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

        .custom-select:hover,
        .custom-select:focus {
            border-color: #80bdff;
            box-shadow: 0 0 5px rgba(0, 123, 255, .25);
        }

    .bg-secondary {
        background-color: #6c757d !important;
    }

    .bg-light-orange {
        background-color: #FF6F00 !important; /* Light Orange Color */
        color: white; /* Text color */
    }

    .form-inline .form-group {
        display: flex;
        align-items: center;
    }

        .form-inline .form-group label {
            margin-right: 10px;
            /* color: #424242;  Dark grey text */
        }

    .table {
        margin-bottom: 0; /* Remove bottom margin */
        border-collapse: collapse; /* Minimalist table look */
        width: 100%; /* Full width */
    }

        .table th,
        .table td {
            padding: 12px 15px;
            text-align: center;
            border: none; /* No borders for cleaner look */
        }

        .table thead th {
            background-color: #616161; /* Darker gray for the header */
            color: #fff; /* White text for headers */
            font-weight: bold;
        }

        .table tbody tr {
            background-color: #f0f0f0; /* Light gray row background */
        }

            .table tbody tr:nth-child(even) {
                background-color: #e0e0e0; /* Alternate row color (slightly darker gray) */
            }

            .table tbody tr:hover {
                background-color: #d0d0d0; /* Slightly darker gray on hover */
            }


    .btn-sm {
        font-size: 0.8rem;
    }


    .pagination .page-item.active .page-link {
        background-color: #616161; /* Dark gray for active page */
        border-color: #616161;
    }

    .pagination .page-item .page-link {
        color: #424242; /* Dark gray pagination numbers */
    }

    /*
            .pagination .page-item .page-link:hover {
                background-color: #007bff; /* Blue background on hover */
    color: #fff; /* White text on hover
                border-color: #007bff;  Border color matches the background
            }
        */
    /* Card styles */
    .card {
        border: none;
        border-radius: 12px;
        background-color: #eeeeee; /* Very light gray card background */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s ease, box-shadow 0.2s ease;
    }

   /*  .card:hover {
        transform: scale(1.01);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    } */

    .card-header {
        background-color: #424242; /* Dark gray */
        border-radius: 12px 12px 0 0;
        padding: 15px;
        color: #fff; /* White text */
        text-align: center;
        font-size: 1.25rem;
        font-weight: 500;
    }

    .card-body {
        background-color: #f5f5f5; /* Very light gray */
        padding: 20px;
        color: #424242; /* Dark grey text */
    }

    .section-heading {
        font-size: 1.8rem; /* Larger font for a clean modern look */
        font-weight: 500; /* Medium weight for a minimalist appearance */
        color: #616161; /* Dark gray heading */
        margin-bottom: 20px;
        border-bottom: 2px solid #9e9e9e; /* Lighter gray underline */
        letter-spacing: 0.5px; /* Slight letter spacing for a modern touch */
        padding-bottom: 10px; /* Slight padding for separation */
        text-align: left;
    }

    .btn-custom {
        border-radius: 8px; /* Rounded corners for buttons */
        padding: 6px 12px; /* Slightly increased padding */
        font-size: 0.9rem; /* Smaller font size */
        background-color: #616161; /* Custom blue background */
        color: white; /* White text */
        border: none; /* Remove border */
    }

        .btn-custom:hover {
            background-color: #424242; /* Darker gray on hover */
        }

    .styled-hr {
        border: none;
        margin: 20px 0; /* Adjust margins to your liking */
        opacity: 0.7; /* Slight transparency for a softer look */
    }

    .status-checkbox {
        appearance: none;
        width: 20px;
        height: 20px;
        border: 1px solid #ced4da;
        border-radius: 3px;
        cursor: not-allowed;
        position: relative;
        background-color: #dc3545; /* Default to red */
    }

        /* Green background when checked */
        .status-checkbox:checked {
            background-color: #28a745; /* Green for active */
            border-color: #28a745;
        }

            /* Checkmark inside the checkbox */
            .status-checkbox:checked::after {
                content: "✓";
                font-size: 16px;
                color: white;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }



    .action-buttons {
        display: flex;
        gap: 8px; /* Adds uniform space between buttons */
        justify-content: center; /* Centers the buttons horizontally */
    }

</style>



<div class="mt-2">
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <h3 class="section-heading">Employee Details</h3>
        </div>
        <div>
            <a asp-action="Create" class="btn btn-primary btn-custom">Create New</a>
        </div>
    </div>
</div>

<div class="mt-1 mb-1 py-2">
    <form method="get" asp-action="Index" class="form-inline">
        <div class="form-group">
            <select id="departmentId" name="departmentId" class="form-control custom-select" onchange="this.form.submit()">
                @if (ViewBag.SelectedDepartmentId == null)
                {
                    <option value="" selected>All</option>
                }
                else
                {
                    <option value="">All</option>
                }
                @foreach (var department in (SelectList)ViewBag.Departments)
                {
                    var isSelected = ViewBag.SelectedDepartmentId?.ToString() == department.Value ? "selected" : "";
                    <option value="@department.Value" selected=@isSelected>
                        @department.Text
                    </option>
                }
            </select>
        </div>
    </form>
</div>


<div class="card mb-4">
    <div class="card-header">
        <h5 class="mb-0">Employees Information</h5>
    </div>
    <div class="card-body">

        <div class="table-responsive">
            <table class="table table-striped table-bordered table-sm">
                <thead class="thead-light">
                    <tr class="bg-light-orange text-white">
                        <th>@Html.DisplayNameFor(model => model.Id)</th>
                        <th>@Html.DisplayNameFor(model => model.Emp_Code)</th>
                        <th>@Html.DisplayNameFor(model => model.EmployeeName)</th>
                        <th>@Html.DisplayNameFor(model => model.DepartmentName)</th>
                        <th>@Html.DisplayNameFor(model => model.Designation)</th>
                        <th>@Html.DisplayNameFor(model => model.Role)</th>
                        <th>@Html.DisplayNameFor(model => model.Division)</th>
                        <th>@Html.DisplayNameFor(model => model.Email)</th>
                        <th>@Html.DisplayNameFor(model => model.PAN_Number)</th>
                        <th>@Html.DisplayNameFor(model => model.JoiningDate)</th>
                        <th>@Html.DisplayNameFor(model => model.PhoneNumber)</th>
                        <th>@Html.DisplayNameFor(model => model.IsActive)</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Id)</td>
                            <td>
                                <a href="@Url.Action("Details", "Employee", new { id = item.Id})">
                                @Html.DisplayFor(modelItem => item.Emp_Code)
                                </a>
                            </td>
                            <td>@Html.DisplayFor(modelItem => item.EmployeeName)</td>
                            <td>@Html.DisplayFor(modelItem => item.DepartmentName)</td>
                            <td>@Html.DisplayFor(modelItem => item.Designation)</td>
                            <td>@Html.DisplayFor(modelItem => item.Role)</td>
                            <td>@Html.DisplayFor(modelItem => item.Division)</td>
                            <td>@Html.DisplayFor(modelItem => item.Email)</td>
                            <td>@Html.DisplayFor(modelItem => item.MaskedPanNumber)</td>
                            <td style="white-space: nowrap;">@Html.DisplayFor(modelItem => item.JoiningDate)</td>
                            <td>@Html.DisplayFor(modelItem => item.MaskedPhoneNumber)</td>
                            <td>
                                <input type="checkbox" disabled class="status-checkbox @(item.IsActive ? "active" : "inactive")" @(item.IsActive ? "checked" : "") />
                            </td>
                            <td>
                                <div class ="action-buttons">
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm mr-2">
                                        <i class="bi bi-pencil-square"></i>
                                    </a> |
                                    <div class="col-auto">
                                        <form asp-action="SetEmployeeInactive" method="post" style="display:inline;">
                                            <input type="hidden" name="id" value="@item.Id" />  <!-- Hidden field to pass employee ID -->
                                            <button type="button" class="btn btn-danger"
                                                        onclick="showDeactivateModal('@item.Id','@item.EmployeeName', '@item.DepartmentName')">
                                                Inactive
                                            </button>
                                        </form>
                                    </div> | 
                                        <!-- Modal (placed outside the loop) -->
                                    <div class="modal fade" id="deactivateModal" tabindex="-1" aria-labelledby="deactivateModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                   <h5 class="modal-title" id="deactivateModalLabel">Confirm Deactivation</h5>
                                                   @* <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                      <span aria-hidden="true">&times;</span>
                                                      </button> *@
                                                </div>
                                                <div class="modal-body">
                                                     Are you sure you want to deactivate <span id="employeeName"></span> from <span id="employeeDepartment"></span>?
                                                </div>
                                                <div class="modal-footer">
                                                   <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                   <form id="deactivateForm" asp-action="SetEmployeeInactive" method="post" style="display:inline;">
                                                       <input type="hidden" name="id" id="employeeId" />  <!-- Hidden field to store the selected employee ID -->
                                                       <button type="submit" class="btn btn-danger">Yes, Deactivate</button>
                                                   </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Download Payslip Button -->
                                    <span class="btn btn-primary btn-sm" onclick="showDownloadModal('@item.Emp_Code', '@item.Id')">
                                        <i class="bi bi-download"></i>
                                    </span>
                                </div>
                            </td>
                        </tr>
                        <!-- Modal for selecting month and downloading payslip -->
                        <div class="modal fade" id="downloadPayslipModal" tabindex="-1" aria-labelledby="downloadPayslipModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="downloadPayslipModalLabel">Download Payslip</h5>
                                        @* <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> *@
                                    </div>
                                    <div class="modal-body">
                                        <!-- Dropdown to select month -->
                                        <label for="payslipMonth">Select Month:</label>
                                        <select class="form-control" id="payslipMonth">
                                            <option value="">--Select Month--</option>
                                            @foreach (var month in ViewBag.PaySlips)
                                            {
                                                <option value="@month">@month</option>
                                            }
                                        </select>
                                        <!-- Hidden fields to store Emp Code and Emp ID -->
                                        <input type="hidden" id="empCode" />
                                        <input type="hidden" id="empId" />
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                        <button type="button" class="btn btn-primary" onclick="downloadPayslip()">Download</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="d-flex justify-content-center mt-3">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            @for (int i = 1; i <= totalPages; i++)
            {
                <li class="page-item @(i == currentPage ? "active" : "")">
                    <a class="page-link" asp-action="Index" asp-route-departmentId="@ViewBag.SelectedDepartmentId" asp-route-page="@i">@i</a>
                </li>
            }
        </ul>
    </nav>
</div>

<script>
    function toggleDetails(itemId) {
        var detailsSection = document.getElementById('detailsSection-' + itemId);
        if (detailsSection.style.display === 'none') {
            detailsSection.style.display = 'table-row';
        } else {
            detailsSection.style.display = 'none';
        }
    }
    function showDeactivateModal(id, name, department) {
        // Set the content inside the modal
        document.getElementById('employeeName').textContent = name;
        document.getElementById('employeeDepartment').textContent = department;

        // Set the employee ID in the hidden input field
        document.getElementById('employeeId').value = id;

        // Show the modal
        $('#deactivateModal').modal('show');
    }
    function showDownloadModal(empCode, empId) {
        // Set employee code and ID in the hidden fields
        document.getElementById('empCode').value = empCode;
        document.getElementById('empId').value = empId;

        // Show the modal
        $('#downloadPayslipModal').modal('show');
    }
    function downloadPayslip() {
        var empCode = document.getElementById('empCode').value;
        var empId = document.getElementById('empId').value;
        var month = document.getElementById('payslipMonth').value;

        // Validate if month is selected
        if (!month) {
            alert("Please select a month.");
            return;
        }
        // Create a form dynamically to submit the selected month for the payslip download
        var form = document.createElement("form");
        form.method = "POST";
        form.action = '@Url.Action("GenerateEmployeePdf", "Employee")'; // Update with your action and controller

        // Add empCode and month as hidden inputs
        var empCodeInput = document.createElement("input");
        empCodeInput.type = "hidden";
        empCodeInput.name = "empCode";
        empCodeInput.value = empCode;
        form.appendChild(empCodeInput);

        var monthInput = document.createElement("input");
        monthInput.type = "hidden";
        monthInput.name = "month";
        monthInput.value = month;
        form.appendChild(monthInput);

        document.body.appendChild(form);
        form.submit(); // Submit the form to generate and download the payslip

        // Hide the modal after form submission
        $('#downloadPayslipModal').modal('hide');
    }
</script>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Bootstrap JavaScript Bundle (includes Popper.js) -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
